/* basic styling */

:root {
    --primary: #ddd;
    --dark: #2E2E2E;
    --light: #EAEAEA;
    --shadow: 0 1px 5px rgba(104,104,104,0.8);
}

html {
    box-sizing: border-box;
    /* font-family: Futura, Trebuchet MS, Arial, sans-serif; */
    font-family: 'Jost', sans-serif;
    color: var(--dark);
}

body  {
    margin: 0px 0px;
    display: grid;
}

img {
    max-width: 100%;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    margin: 0px 0px;
}

body {
    margin: 0;
    /* font-family: Futura,Trebuchet MS,Arial,sans-serif; */
    font-family: 'Jost', sans-serif;

    background-color: #f4f4f4;
    /* border: 7px #464646 solid; */
  }
  
a {
    color: var(--dark);
    text-decoration: none;
}
  
  /* header */
  
  .header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 gray;
    position: fixed;
    align-self: center;
    width: 100%;
    z-index: 3;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
    border: 4px #464646 solid;
    box-sizing: border-box;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }
  
  .header li a {
    display: block;
    padding: 10px 10px;
    /* border-right: 1px solid #f4f4f4; */
    text-decoration: none;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #f4f4f4;
  }
  
  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }
  
  /* 48em = 768px */
  
  @media screen and (min-width: 52em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }

.linkedin {
  font-size: 2em;
  padding: 10px 20px;
}


/* footer */
.footer {
  border: 4px solid black;
  text-align: center;
  color: var(--dark);
  line-height: 0.7;
  background-color: #fff;
  box-sizing: border-box;
}